* {
  background-color: #f59fc4;
  margin: 0;
}

.ball {
  height: 50px;
  width: 50px;
  background-color: #7a7ca5;
  border-radius: 50%;
  position: absolute;
  border: 5px solid #000;
}
.cute-robot {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa4d4d;
}

.antena-1 {
  border-left: 6px solid black  ;
  height: 100px;
  position: absolute;
  margin: -330px 0 0 60px;
  transform: skewX(320deg);
}

.antena-2 {
  border-left: 6px solid black  ;
  height: 100px;
  position: absolute;
  margin: -240px 0 0 0px;
  transform: skewX(50deg);
}

.antena-ball-1 {
  margin: -375px 0 0 -150px;
  background-color: #f0628a;
}

.antena-ball-2 {
  margin: -450px 0 0 150px;
  background-color: #f0628a;
}

.ear-left {
  width: 100px;
  height: 275px;
  border-radius: 50px;
  background-color: #f03535;
  position: absolute;
  margin: 135px 0 0 -600px;
  border: 5px solid #000;
}

.ear-right{
  width: 100px;
  height: 275px;
  border-radius: 50px;
  background-color: #431cf1;
  position: absolute;
  margin: 135px 0 0 600px;
  border: 5px solid #000;
}

.head {
  margin-top: 150px;
  width: 600px;
  height: 400px;
  border-radius: 100px;
  background-color: #9e9abb;
  position: relative;
  border: 5px solid #000;
}

.head-inner {
  margin: 50px;
  height: 300px;
  border-radius: 50px;
  background-color: #251a3a;
  position: relative;
  border: 5px solid #000;
}

.eye-left {
  top: 50px;
  left: 50px;
  background-color: #251a3a;
  position: relative;
  border: 5px solid #000;

  width: 100px;
  height: 150px;
  background: #91d6e6;
  border-radius: 50px / 75px;
}

.eye-right {
  top: -110px;
  left: 325px;
  background-color: #251a3a;
  position: relative;
  border: 5px solid #000;

  width: 100px;
  height: 150px;
  background: #91d6e6;
  border-radius: 50px / 75px;
}

.mouth {
  top: -90px;
  left: 50px;
  background-color: #251a3a;
  position: relative;
  border: 5px solid #000;

  width: 380px;
  height: 35px;
  background: #91d6e6;
  border-radius: 50px / 75px;
}

.neck {
  height: 50px;
  width: 50px;
  background-color: #9e9abb;
  border-radius: 50%;
  position: absolute;
  margin: 575px 0 0 0px;
  border: 5px solid #000;
}

.body {
  margin-top: 900px;
  width: 250px;
  height: 300px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
}

.right-arm-1 {
  margin: 800px 0 0 500px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
}

.right-arm-joint-1 {
  margin: 800px 0 0 275px;
}

.right-arm-2 {
  margin: 700px 0 0 925px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
  transform: rotate(325deg)
}

.right-arm-joint-2 {
  margin: 800px 0 0 725px;

}

.right-hand {
  height: 100px;
  width: 100px;
  margin: 550px 0 0 1150px;
}







.left-arm-1 {
  margin: 800px 0 0 -525px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
}

.left-arm-joint-1 {
  margin: 800px 0 0 -300px;
}

.left-arm-2 {
  margin: 950px 0 0 -625px;
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
  transform: rotate(35deg);
}

.left-arm-joint-2 {
  margin: 800px 0 0 -750px;
}

.left-hand {
  height: 100px;
  width: 100px;
  margin: 1100px 0 0 -400px;
}

.right-leg-joint {
  margin: 1225px 0 0 -100px;
}

.left-leg-joint {
  margin: 1225px 0 0 125px;
}

.right-leg {
  margin: 1350px 0 0 -100px;
  width: 50px;
  height: 100px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
}

.left-leg {
  margin: 1350px 0 0 125px;
  width: 50px;
  height: 100px;
  border-radius: 50px;
  background-color: #9e9abb;
  position: absolute;
  border: 5px solid #000;
}
